html {
  height: 100%;
  width: 100%;
  margin: 0px;
}
body {
  background: url("./assets/Hintergrund.jpg");
  background-size: cover;
}

#myCanvas {
  background: url("./assets/playscreen.png");
}
#scoreText {
  font-size: 25px;
  font-style: italic;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(41, 112, 51);
  text-align: center;
}
#splashscreen {
  background: url("./assets/playscreen.png");
  width: 600px;
  height: 800px;
}
.center {
  margin: auto;
}
#winscreen {
  background: url("./assets/Win_Screen.png");
  width: 600px;
  height: 800px;
  /* position: relative;
  float: right; */
}
.margin-left {
  margin-left: 160px;
  margin-top: 50px;
}
.info {
  margin: 0 0 0 80px;
}
.resize {
  width: 70%;
}
#gameover {
  background: url("./assets/gameover.png");
  width: 600px;
  height: 800px;
}

#restart,
#start,
#continue {
  background-color: transparent;
  border: none;
}

#restart,
#continue {
  margin-top: 470px;
}
