body {
  background: url("./assets/Hintergrund.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0px;
}

#myCanvas {
  background: url("./assets/playscreen.png");
}
#scoreText {
  margin-top: 8px;
}
#splashscreen {
  background: url("./assets/playscreen.png");
  width: 600px;
  height: 800px;
}
.center {
  margin: auto;
}
#winscreen {
  background: url("./assets/playscreen.png");
  width: 600px;
  height: 800px;
  /* position: relative;
  float: right; */
}
.margin-left {
  margin-left: 150px;
  margin-top: 50px;
}
.info {
  margin: 0 0 0 80px;
}
.resize {
  width: 70%;
}
#gameover {
  background: url("./assets/gameover.png");
  width: 600px;
  height: 800px;
}

#restart,
#start {
  background-color: transparent;
  border: none;
}
#restart {
  margin-top: 470px;
}
